# Variáveis de ambiente
.env
.env.local
.env.*.local

# Cache Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
.venv/

# Logs
*.log

# PDFs (opcional)
data/pdf/
logs/



# IDE
.vscode/
.idea/
*.swp
*.swo